# Load custom changes from my .vimrc
source ../vim/.vimrc

# Errors
nnoremap <leader>e :action GotoNextError<cr>
nnoremap <leader>E :action GotoPreviousError<cr>

# Breakpoint
nnoremap <leader>B :action ViewBreakpoints<cr>
nnoremap <leader>b :action ToggleLineBreakpoint<cr>
