# Load custom changes from my .vimrc
source $DOT_FILES/vim/.vimrc

set surround

# Errors
nnoremap <leader>e :action GotoNextError<cr>
nnoremap <leader>E :action GotoPreviousError<cr>

# Breakpoint
nnoremap <leader>B :action ViewBreakpoints<cr>
nnoremap <leader>b :action ToggleLineBreakpoint<cr>
