# Load customizations from .vimrc
source $DOT_FILES/vim/.vimrc

set surround

# Errors
nnoremap <leader>e :action GotoNextError<cr>
nnoremap <leader>E :action GotoPreviousError<cr>

# Breakpoint
nnoremap <leader>B :action ViewBreakpoints<cr>
nnoremap <leader>b :action ToggleLineBreakpoint<cr>

# Classes
nnoremap <leader>D :action GoToImplementation<cr>

# Find
nnoremap <leader>f :action FindUsages<cr>
nnoremap <leader>F :action FindInPath<CR>
